################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusproService/v15/
/.vscode
/BusproService/bin/
/BusproService/obj/
/TestConsoleApp/bin/
/TestConsoleApp/obj/