################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusproService/v15/
/.vscode
/BusproService/BusproService/bin/
/BusproService/BusproService/obj/
/BusproService/TestConsoleApp/bin/
/BusproService/TestConsoleApp/obj/