################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusproService/v15/Server/sqlite3/db.lock
